<template>
    <header class="navbar navbar-dark sticky-top bg-teal flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Vet Manager</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
        <div class="navbar-nav">

            <div class="nav-item text-nowrap">

<!--                <button type="button" class="btn btn-teal">-->
<!--                    <font-awesome-icon :icon="['fab', 'shopify']"/>-->
<!--                    <span class="badge bg-danger">2</span>-->
<!--                </button>-->
<!--                <button type="button" class="btn btn-teal">-->
<!--                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>-->
<!--                    <span class="badge bg-danger">2</span>-->
<!--                </button>-->

<!--                <button type="button" class="btn btn-teal">-->
<!--                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>-->
<!--                    <span class="badge bg-danger">1</span>-->
<!--                </button>-->

<!--                <button type="button" class="btn btn-teal">-->
<!--                    <i class="fa fa-comment-o" aria-hidden="true"></i>-->
<!--                    <span class="badge bg-danger">4</span>-->
<!--                </button>-->

                <button type="button" class="btn btn-danger mx-3" @click.prevent="logout">
                    Logout
                </button>
            </div>
        </div>
    </header>
</template>

<script>
    import store from '../../store';
    import router from '../../router';

    export default {
        name: 'AppHeader',

        methods: {
            logout() {
                if (confirm('ВЫ уверенны что хотите выйти?')) {
                    store.dispatch('auth/logout')
                        .then(() => {
                            router.push({name: 'Login'})
                        })
                        .catch(e => {
                            store.dispatch('handle', e);
                        });
                }
            }
        }
    };
</script>

<style scoped>
    .bg-teal, btn-teal {
        background: #479f76;
    }

    .btn {
        color: #fff;
    }

    .badge-light {
        background-color: #fff;
        color: #000;
    }
</style>
