<template>
    <div>
        <button v-if="hidden"
            type="button"
            class="btn btn-outline-success"
            @click="$emit('show')"
        >
            <span>{{ btnShowText }}</span>
        </button>

        <button v-else=""
                type="button"
                class="btn btn-outline-success"
                @click="$emit('hide')"
        >
            <span >{{ btnHideText }}</span>
        </button>

        <div v-if="!hidden">
            <div class="container">
                <slot name="content"></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddBlock",
        props: {
            hidden: {
                type: Boolean,
                default: true
            },
            btnHideText: {
                type: String,
                default: "Скрыть блок"
            },
            btnShowText: {
                type: String,
                default: "Показать блок"
            },
        }

    }
</script>

<style scoped>

</style>
