<template>
    <div class="container-fluid">
        <div class="row">
            <alert
                    v-if="$store.getters['alert/message']"
                    :message="$store.getters['alert/message']"
                    :type="$store.getters['alert/type']"
                    @hide="$store.dispatch('alert/hide')"
            />
            <app-header></app-header>
            <app-sidebar></app-sidebar>
            <app-main></app-main>
            <app-footer></app-footer>
        </div>

    </div>
</template>

<script>
    import store from '../store';
    import router from '../router';
    import constants from '../constants';
    import Alert from '../services/ui-components/Alert';
    import AppHeader from "./layout/AppHeader";
    import AppSidebar from "./layout/AppSidebar";
    import AppMain from './layout/AppMain';
    import AppFooter from './layout/AppFooter';



    export default {
        name: "Base",
        components: {
            Alert,
            AppHeader,
            AppSidebar,
            AppMain,
            AppFooter,
            // AddBlock
        },

        beforeRouteEnter(to, from, next) {
            if (!store.getters['auth/authorized']) {
                return router.push({name: 'Login'});
            }

            store.dispatch('auth/user').then(() => {
                return Promise.all(constants.bootstrap.map(
                    action => store.dispatch(action)
                ))
            }).then(() => {
                store.commit('READY');
                next();
            }).catch(e => {
                store.dispatch('handle', e);
            });
        },

        // beforeRouteEnter(to, from, next) {
        //     // if (!store.getters['auth/authorized']) {
        //     //     return router.push({name: 'Login'});
        //     // }
        //
        //     let bootstrap = Promise.all(constants.bootstrap.map(
        //         action => store.dispatch(action)
        //     ));
        //     bootstrap.then(() => {
        //         store.commit('READY');
        //         next();
        //     }).catch(e => {
        //         console.log(e);
        //         store.dispatch('handle', e);
        //     });
        //
        //     // store.dispatch('auth/user').then(() => {
        //     //     return Promise.all(constants.bootstrap.map(
        //     //         action => store.dispatch(action)
        //     //     ))
        //     // }).then(() => {
        //     //     store.commit('READY');
        //     //     next();
        //     // }).catch(e => {
        //     //     store.dispatch('handle', e);
        //     // });
        // },
    }

</script>

<style lang="scss" scoped>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }


</style>