<template>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Page for company</h1>

        </div>

        <add-block
                btnShowText="Показать форму"
                btnHideText="Скрыть форму"
                :hidden="hidenForm"
                @hide="hideForm"
                @show="showForm"
        >
            <template v-slot:content>

                <div class="row border border-success rounded rounded-10 shadow-lg p-3 mb-5 border-1 mt-3">
                    <div class="col-12">

                        <Form
                                :model="getModel"
                                :formType="formType"
                                action="company/save"
                                @submit="submit"
                                :needFile="false"
                        >

                            <template v-slot:name="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" required name="name"
                                           :class="[slotProps.errors.name.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingName"
                                           v-model.number="model.name" placeholder="Название фирмы">
                                    <label for="floatingName">Название фирмы</label>
                                    <small>{{ slotProps.errors.name }}</small>
                                </div>
                            </template>

                            <template v-slot:description="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" name="description"
                                           :class="[slotProps.errors.description.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingDescription"
                                           v-model="model.description" placeholder="Описание">
                                    <label for="floatingDescription">Описание</label>
                                    <small>{{ slotProps.errors.description }}</small>
                                </div>
                            </template>

                            <template v-slot:phone="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" name="rate"
                                           :class="[slotProps.errors.phone.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingPhone"
                                           v-model="model.phone" placeholder="Телефон">
                                    <label for="floatingPhone">Телефон</label>
                                    <small>{{ slotProps.errors.phone }}</small>
                                </div>
                            </template>

                            <template v-slot:address="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" name="address"
                                           :class="[slotProps.errors.address.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingAddress"
                                           v-model="model.address" placeholder="Адрес">
                                    <label for="floatingAddress">Адрес</label>
                                    <small>{{ slotProps.errors.address }}</small>
                                </div>
                            </template>

                            <template v-slot:email="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="email" name="email"
                                           :class="[slotProps.errors.email.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingEmail"
                                           v-model="model.email" placeholder="Email">
                                    <label for="floatingEmail">Email Адрес</label>
                                    <small>{{ slotProps.errors.email }}</small>
                                </div>
                            </template>

                            <template v-slot:www="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" name="www"
                                           :class="[slotProps.errors.www.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingWww"
                                           v-model="model.www" placeholder="WWW адрес">
                                    <label for="floatingWww">WWW Адрес</label>
                                    <small>{{ slotProps.errors.www }}</small>
                                </div>
                            </template>

                            <template v-slot:director="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" name="director"
                                           :class="[slotProps.errors.director.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingDirector"
                                           v-model="model.director" placeholder="Директор">
                                    <label for="floatingDirector">Директор</label>
                                    <small>{{ slotProps.errors.director }}</small>
                                </div>
                            </template>

                            <template v-slot:booker="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" name="booker"
                                           :class="[slotProps.errors.booker.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingBooker"
                                           v-model="model.booker" placeholder="Бухгалтер">
                                    <label for="floatingBooker">Бухгалтер</label>
                                    <small>{{ slotProps.errors.booker }}</small>
                                </div>
                            </template>

                            <template v-slot:account="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" name="account"
                                           :class="[slotProps.errors.account.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingAccount"
                                           v-model="model.account" placeholder="Номер банковского аккаунта">
                                    <label for="floatingAccount">Номер банковского аккаунта</label>
                                    <small>{{ slotProps.errors.account }}</small>
                                </div>
                            </template>

                            <template v-slot:mfo="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" name="mfo"
                                           :class="[slotProps.errors.mfo.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingMfo"
                                           v-model="model.mfo" placeholder="МФО банка">
                                    <label for="floatingMfo">МФО банка</label>
                                    <small>{{ slotProps.errors.mfo }}</small>
                                </div>
                            </template>

                            <template v-slot:bank="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" name="bank"
                                           :class="[slotProps.errors.bank.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingBank"
                                           v-model="model.bank" placeholder="Банк">
                                    <label for="floatingBank">Банк</label>
                                    <small>{{ slotProps.errors.bank }}</small>
                                </div>
                            </template>

                            <template v-slot:photo="slotProps">
                                <FileField
                                        name="photo"
                                        id="photo"
                                        :classes="[slotProps.errors.photo.length > 0 ? 'is-invalid' : '', 'form-control']"
                                        placeholder="photo"
                                        label="Фото фирмы"
                                        :errorText="slotProps.errors.photo"
                                        :value="model.photo || ''"
                                        @change="add"
                                />
                            </template>


                        </Form>
                    </div>
                </div>

            </template>
        </add-block>

        <br>

        <hr>
        <Pagination
                :urls="urls"
                :total="total"
                :lastPage="lastPage"
                @changePerPage="changePerPage"
                @changePage="fetch"
        ></Pagination>
        <hr>

        <h2>Section title</h2>
        <div class="table-responsive">
            <div class="table-responsive">

                <preloader>
                    <template v-slot:content>
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th scope="col">Название фирмы</th>
                                <th scope="col">Описание</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="(company, index) in items" :key="index">
                                <td>{{ company.id }}</td>
                                <td>{{ company.name }}</td>
                                <td>{{ company.description }}</td>
                                <td>
                                    <button class="btn btn-danger" @click.prevent="confirm(company.id)">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-info" @click.prevent="edit(company.id)">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <Pagination
                                :urls="urls"
                                :total="total"
                                :lastPage="lastPage"
                                @changePerPage="changePerPage"
                                @changePage="fetch"
                        ></Pagination>
                    </template>
                </preloader>
            </div>
        </div>

        <modal
                v-if="isModalVisible"
                @cancel="cancelDelete"
                @ok="confirmed"
                ok-class="btn btn-danger"
                ok-text="Delete"
        >
            <template v-slot:header>
                Deleting company
            </template>
            <template v-slot:body>Do You want delete this company?</template>
        </modal>

    </main>
</template>

<script>
    import Modal from './Modal';
    import AddBlock from './AddBlock';

    import Preloader from '../services/ui-components/Preloader';
    import Pagination from '../services/ui-components/Pagination';
    import Form from '../services/ui-components/Form';
    import FileField from '../services/ui-forms/fields/File'
    import {mapActions, mapGetters, mapMutations} from 'vuex';
    import MixinPaginate from '../mixins/paginate';
    import MixinForm from '../mixins/form';
    import MixinModal from '../mixins/modal';

    export default {
        name: "Company",
        components: {
            Modal,
            AddBlock,
            Preloader,
            Pagination,
            Form,
            FileField
        },

        mixins: [MixinPaginate, MixinForm, MixinModal],

        data() {
            return {
                deleting: [],
                model: {
                    id: null,
                    name: null,
                    description: null,
                    phone: null,
                    address: null,
                    email: null,
                    www: null,
                    director: null,
                    booker: null,
                    account: null,
                    mfo: null,
                    bank: null,
                    photo: null
                }
            }
        },

        computed: {
            ...mapGetters({
                items: 'company/getItems'
            }),

            loading() {
                return this.$store.state.loading;
            }
        },

        methods: {
            ...mapActions({
                save: 'company/save',
                remove: 'company/delete',
            }),

            confirm(id) {
                this.deleting.push(id);
                this.showModal();
            },
            confirmed() {
                this.delete();
                this.closeModal();
            },
            clearDelete() {
                this.deleting = [];
            },
            cancelDelete() {
                this.clearDelete();
                this.closeModal();
            },
            edit(id) {
                let items = this.items.filter((item) => {
                    return item.id == id;
                });
                this.model = Object.assign({}, this.model, items[0]);
                this.showForm();
                this.changeFormType('update');
            },
            delete() {
                this.remove(Object.assign({}, this.model, {'ids': this.deleting})).then(() => {
                    this.cancelDelete();
                })
            },
            add(e, key) {
                this.model[key] = e.target.files[0];
            }
        }
    }
</script>

<style scoped>

</style>