<template>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Page for Incomes</h1>

        </div>

        <add-block
            btnShowText="Показать форму"
            btnHideText="Скрыть форму"
            :hidden="hidenForm"
            @hide="hideForm"
            @show="showForm"
        >
            <template v-slot:content>

                <div class="row border border-success rounded rounded-10 shadow-lg p-3 mb-5 border-1 mt-3">
                    <div class="col-12">

                        <Form
                            :model="getModel"
                            :formType="formType"
                            action="income/save"
                            @submit="submit"
                            :needFile="true"
                        >

                            <template v-slot:product_count="slotProps">

                                <ProductCount
                                    :items.sync="model.product_count"
                                    :warehouse_id="model.warehouse_id"
                                />

                            </template>

                            <template v-slot:invoice_number="slotProps">

                                <div class="mb-3 form-floating">

                                    <input type="text" required name="invoice_number"
                                           :class="[slotProps.errors.invoice_number.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingInvoiceNumber"
                                           v-model.number="model.invoice_number" placeholder="Номер накладной">
                                    <label for="floatingInvoiceNumber">номер накладной</label>
                                    <small>{{ slotProps.errors.invoice_number }}</small>
                                </div>

                            </template>


                            <template v-slot:provider_id="slotProps">
                                <div class="mb-3 form-floating">

                                    <select name="provider_id" id="provider_id"
                                            :class="[slotProps.errors.provider_id.length > 0 ? 'is-invalid' : '', 'form-select']"
                                            v-model="model.provider_id"
                                    >
                                        <template v-for="item in providers">
                                            <option :value="item.id" :key="item.id">{{ item.name }}</option>
                                        </template>
                                    </select>
                                    <label for="provider_id">Поставшик</label>
                                    <small>{{ slotProps.errors.provider_id }}</small>

                                </div>
                            </template>

                            <template v-slot:warehouse_id="slotProps">
                                <div class="mb-3 form-floating">

                                    <select name="warehouse_id" id="warehouse_id"
                                            :class="[slotProps.errors.warehouse_id.length > 0 ? 'is-invalid' : '', 'form-select']"
                                            v-model="model.warehouse_id"
                                    >
                                        <template v-for="item in warehouses">
                                            <option :value="item.id" :key="item.id">{{ item.name }}</option>
                                        </template>
                                    </select>
                                    <label for="warehouse_id">Склад</label>
                                    <small>{{ slotProps.errors.warehouse_id }}</small>

                                </div>
                            </template>


                        </Form>
                    </div>
                </div>

            </template>
        </add-block>

        <br>

        <hr>
        <Pagination
            :urls="urls"
            :total="total"
            :lastPage="lastPage"
            @changePerPage="changePerPage"
            @changePage="fetch"
        ></Pagination>
        <hr>

        <h2>Section title</h2>
        <div class="table-responsive">
            <div class="table-responsive">

                <preloader>
                    <template v-slot:content>
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Invoice number</th>
                                <th scope="col">Warehouse</th>
                                <th scope="col">Provider</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="(incomes, index) in items" :key="index">
                                <td>{{ incomes.id }}</td>
                                <td>{{ incomes.invoice_number }}</td>
                                <td>{{ incomes.warehouse.name }}</td>
                                <td>{{ incomes.provider.name }}</td>
                                <td>
                                    <button class="btn btn-danger" @click.prevent="confirm(incomes.id)">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-info" @click.prevent="edit(incomes.id)">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <Pagination
                            :urls="urls"
                            :total="total"
                            :lastPage="lastPage"
                            @changePerPage="changePerPage"
                            @changePage="fetch"
                        ></Pagination>
                    </template>
                </preloader>
            </div>
        </div>

        <modal
            v-if="isModalVisible"
            @cancel="cancelDelete"
            @ok="confirmed"
            ok-class="btn btn-danger"
            ok-text="Delete"
        >
            <template v-slot:header>
                Deleting incomes
            </template>
            <template v-slot:body>Do You want delete this incomes?</template>
        </modal>

    </main>
</template>

<script>
import Modal from './Modal';
import AddBlock from './AddBlock';

import Preloader from '../services/ui-components/Preloader';
import Pagination from '../services/ui-components/Pagination';
import Form from '../services/ui-components/Form';
import FileField from '../services/ui-forms/fields/File'
import TextField from "../services/ui-forms/fields/TextField";
import SelectSearch from "../services/ui-forms/fields/SelectSearch";
import ProductCount from "../services/ui-forms/fields/ProductCount";
import {mapActions, mapGetters, mapMutations} from 'vuex';
import MixinPaginate from '../mixins/paginate';
import MixinForm from '../mixins/form';
import MixinModal from '../mixins/modal';

export default {
    name: "Income",
    components: {
        Modal,
        AddBlock,
        Preloader,
        Pagination,
        Form,
        FileField,
        TextField,
        SelectSearch,
        ProductCount
    },

    mixins: [MixinPaginate, MixinForm, MixinModal],

    data() {
        return {
            deleting: [],
            model: {
                provider_id: null,
                warehouse_id: null,
                invoice_number: null,
                product_count: []
            }
        }
    },

    created() {
        this.get_products();
        this.get_providers();
        this.get_warehouses();
    },

    computed: {
        ...mapGetters({
            products: 'product/getAll',
            providers: 'provider/getAll',
            warehouses: 'warehouse/getAll',
            items: 'income/getItems'
        }),

        loading() {
            return this.$store.state.loading;
        }
    },

    methods: {
        ...mapActions({
            get_products: 'product/all',
            get_providers: 'provider/all',
            get_warehouses: 'warehouse/all',
            remove: 'income/delete'
        }),

        confirm(id) {
            this.deleting.push(id);
            this.showModal();
        },
        confirmed() {
            this.delete();
            this.closeModal();
        },
        clearDelete() {
            this.deleting = [];
        },
        cancelDelete() {
            this.clearDelete();
            this.closeModal();
        },
        edit(id) {
            let items = this.items.filter((item) => {
                return item.id == id;
            });

            this.model.product_count = items[0].products.map(item => {
                return {
                    product_id: item.id,
                    count: item.pivot.count,
                    name: item.name
                };
            });

            this.model = Object.assign({}, this.model, items[0]);
            this.showForm();
            this.changeFormType('update');
        },
        delete() {
            this.remove(Object.assign({}, this.model, {'ids': this.deleting})).then(() => {
                this.cancelDelete();
            })
        },
        add(e, key) {
            this.model[key] = e.target.files[0];
        }
    }
}
</script>

<style scoped>

</style>
