<template>
    <div class="page">
        <div class="page__login">
            <div class="page__login-content">
                <h1>Shop manager</h1>
                <form @submit.prevent="login()">
                    <div class="form-group">
                        <input
                                type="email"
                                name="email"
                                placeholder="Введите ваш логин"
                                class="form-control"
                                id="login"
                                v-model="form.email"
                                @focus="setFocus('email')"
                                @blur="clearFocus()"
                        >
                        <small class="form-text text-muted">На данный момент логином является <strong>E-mail</strong></small>
                    </div>
                    <div class="form-group">
                        <input
                                type="password"
                                name="password"
                                placeholder="Введите пароль"
                                class="form-control"
                                id="password"
                                v-model="form.password"
                                @focus="setFocus('password')"
                                @blur="clearFocus()"
                        >
                    </div>

                    <button
                            type="submit"
                            :class="{
                            'btn': true,
                            'btn-primary': true,
                        }"
                            :disabled="progress"
                    >Авторизоваться</button>
                </form>
            </div>
        </div>
        <transition name="fade-zoom">
            <div
                    v-if="alert.message"
                    :class="['alert', 'alert-' + alert.type, 'mb-0', 'alert__fixed', 'alert__top', 'alert__right']"
                    role="alert"
            >
                {{ alert.message }}
            </div>
        </transition>
    </div>
</template>

<script>
    import store from '../store';
    import router from '../router';

    export default {
        name: "Login",
        data() {
            return {
                progress: false,
                focused: null,
                form: {
                    email: '',
                    password: '',
                    remember: true,
                    device_name: 'Site Desktop'
                }
            }
        },
        computed: {
            alert() {
                return store.state.alert
            }
        },
        beforeRouteEnter(to, from, next) {
            return store.getters['auth/authorized']
                ? router.push({name: 'Dashboard'})
                : next()
        },
        methods: {
            setFocus(field) {
                this.focused = field;
            },
            clearFocus() {
                this.focused = null;
            },
            login() {
                this.progress = true;
                store.dispatch('auth/login', Object.assign({}, this.form))
                    .then(() => {
                        router.push({name: 'Base'})
                    })
                    .catch(e => {
                        this.progress = false;
                        store.dispatch('handle', e);
                    });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .page {
        width: 100vw;
        height: 100vh;
        &__login {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &-content {
                padding: 0 15px;
                max-width: 350px;
            }
        }
    }
</style>
