<template>
    <div>
        <h1>Not Found</h1>
        <p><span>Name:</span><span>{{ name }}</span></p>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        name: "NotFound",
        computed: {
            ...mapGetters({
                name: 'user/getName'
            })
        }
    }
</script>


<style></style>
