<template>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Page for packing</h1>

        </div>

        <add-block
                btnShowText="Показать форму"
                btnHideText="Скрыть форму"
                :hidden="hidenForm"
                @hide="hideForm"
                @show="showForm"
        >
            <template v-slot:content>

                <div class="row border border-success rounded rounded-10 shadow-lg p-3 mb-5 border-1 mt-3">
                    <div class="col-12">

                        <Form
                                :model="getModel"
                                :formType="formType"
                                action="packing/save"
                                @submit="submit"
                                :needFile="false"
                        >

                            <template v-slot:name="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" required name="name"
                                           :class="[slotProps.errors.name.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingName"
                                           v-model.number="model.name" placeholder="Тип упаковки">
                                    <label for="floatingName">Тип упаковки</label>
                                    <small>{{ slotProps.errors.name }}</small>
                                </div>
                            </template>

                            <template v-slot:description="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" name="description"
                                           :class="[slotProps.errors.description.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingDescription"
                                           v-model="model.description" placeholder="Описание упаковки">
                                    <label for="floatingDescription">Описание упаковки</label>
                                    <small>{{ slotProps.errors.description }}</small>
                                </div>
                            </template>

                            <template v-slot:photo="slotProps">
                                <FileField
                                        name="photo"
                                        id="photo"
                                        :classes="[slotProps.errors.photo.length > 0 ? 'is-invalid' : '', 'form-control']"
                                        placeholder="photo"
                                        label="Изображение упаковки"
                                        :errorText="slotProps.errors.photo"
                                        :value="model.photo || ''"
                                        @change="add"
                                />
                            </template>


                        </Form>
                    </div>
                </div>

            </template>
        </add-block>

        <br>

        <hr>
        <Pagination
                :urls="urls"
                :total="total"
                :lastPage="lastPage"
                @changePerPage="changePerPage"
                @changePage="fetch"
        ></Pagination>
        <hr>

        <h2>Section title</h2>
        <div class="table-responsive">
            <div class="table-responsive">

                <preloader>
                    <template v-slot:content>
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th scope="col">Packing</th>
                                <th scope="col">Description</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="(packing, index) in items" :key="index">
                                <td>{{ packing.id }}</td>
                                <td>{{ packing.name }}</td>
                                <td>{{ packing.description }}</td>
                                <td>
                                    <button class="btn btn-danger" @click.prevent="confirm(packing.id)">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-info" @click.prevent="edit(packing.id)">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <Pagination
                                :urls="urls"
                                :total="total"
                                :lastPage="lastPage"
                                @changePerPage="changePerPage"
                                @changePage="fetch"
                        ></Pagination>
                    </template>
                </preloader>
            </div>
        </div>

        <modal
                v-if="isModalVisible"
                @cancel="cancelDelete"
                @ok="confirmed"
                ok-class="btn btn-danger"
                ok-text="Delete"
        >
            <template v-slot:header>
                Deleting packing
            </template>
            <template v-slot:body>Do You want delete this packing?</template>
        </modal>

    </main>
</template>

<script>
    import Modal from './Modal';
    import AddBlock from './AddBlock';

    import Preloader from '../services/ui-components/Preloader';
    import Pagination from '../services/ui-components/Pagination';
    import Form from '../services/ui-components/Form';
    import FileField from '../services/ui-forms/fields/File'
    import {mapActions, mapGetters, mapMutations} from 'vuex';
    import MixinPaginate from '../mixins/paginate';
    import MixinForm from '../mixins/form';
    import MixinModal from '../mixins/modal';

    export default {
        name: "Packing",
        components: {
            Modal,
            AddBlock,
            Preloader,
            Pagination,
            Form,
            FileField
        },

        mixins: [MixinPaginate, MixinForm, MixinModal],

        data() {
            return {
                deleting: [],
                model: {
                    id: null,
                    name: null,
                    description: null,
                    photo: null,
                }
            }
        },

        computed: {
            ...mapGetters({
                items: 'packing/getItems'
            }),

            loading() {
                return this.$store.state.loading;
            }
        },

        methods: {
            ...mapActions({
                save: 'packing/save',
                remove: 'packing/delete',
            }),

            confirm(id) {
                this.deleting.push(id);
                this.showModal();
            },
            confirmed() {
                this.delete();
                this.closeModal();
            },
            clearDelete() {
                this.deleting = [];
            },
            cancelDelete() {
                this.clearDelete();
                this.closeModal();
            },
            edit(id) {
                let items = this.items.filter((item) => {
                    return item.id == id;
                });
                this.model = Object.assign({}, this.model, items[0]);
                this.showForm();
                this.changeFormType('update');
            },
            delete() {
                this.remove(Object.assign({}, this.model, {'ids': this.deleting})).then(() => {
                    this.cancelDelete();
                })
            },
            add(e, key) {
                this.model[key] = e.target.files[0];
            }
        }
    }
</script>

<style scoped>

</style>