<template>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Page for product</h1>

        </div>

        <div class="container">
            <div class="row">
                <div class="col-10 my-3">
                    <add-block
                        btnShowText="Показать форму"
                        btnHideText="Скрыть форму"
                        :hidden="hidenForm"
                        @hide="hideForm"
                        @show="showForm"
                    >

                        <template v-slot:content>

                            <div class="row border border-success rounded rounded-10 shadow-lg p-3 mb-5 border-1 mt-3">

                                <div class="col-12">
                                    <Form
                                        :model="getModel"
                                        :formType="formType"
                                        action="product/save"
                                        @submit="submit"
                                        :needFile="true"
                                    >

                                        <template v-slot:name="slotProps">
                                            <div class="mb-3 form-floating">

                                                <input type="text" required name="name"
                                                       :class="[slotProps.errors.name.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                       id="floatingName"
                                                       v-model="model.name" placeholder="name">
                                                <label for="floatingName">*name</label>
                                                <small>{{ slotProps.errors.name }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:description="slotProps">
                                            <div class="mb-3 form-floating">

                                    <textarea name="description"
                                              :class="[slotProps.errors.description.length > 0 ? 'is-invalid' : '', 'form-control']"
                                              id="floatingDescription"
                                              v-model="model.description" placeholder="Описание">
                                    </textarea>
                                                <label for="floatingDescription">Описание</label>
                                                <small>{{ slotProps.errors.description }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:price_purchase="slotProps">
                                            <div class="mb-3 form-floating">

                                                <input type="text" name="price_purchase"
                                                       :class="[slotProps.errors.price_purchase.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                       id="floatingPricePurchase"
                                                       v-model="model.price_purchase" placeholder="Цена закупки">
                                                <label for="floatingPricePurchase">Цена закупки</label>
                                                <small>{{ slotProps.errors.price_purchase }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:price_retail="slotProps">
                                            <div class="mb-3 form-floating">

                                                <input type="text" name="price_retail"
                                                       :class="[slotProps.errors.price_retail.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                       id="floatingPriceRetail"
                                                       v-model="getPriceRetail" placeholder="Цена продажи">
                                                <label for="floatingPriceRetail">Цена продажи</label>
                                                <small>{{ slotProps.errors.price_retail }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:price_opt="slotProps">
                                            <div class="mb-3 form-floating">

                                                <input type="text" name="price_opt"
                                                       :class="[slotProps.errors.price_opt.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                       id="floatingPriceOpt"
                                                       v-model="getPriceOpt" placeholder="Цена оптовая">
                                                <label for="floatingPriceOpt">Цена оптовая</label>
                                                <small>{{ slotProps.errors.price_opt }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:price_internet="slotProps">
                                            <div class="mb-3 form-floating">

                                                <input type="text" name="price_internet"
                                                       :class="[slotProps.errors.price_internet.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                       id="floatingPriceInternet"
                                                       v-model="getPriceInternet" placeholder="Цена intenet маназина">
                                                <label for="floatingPriceInternet">Цена intenet маназина</label>
                                                <small>{{ slotProps.errors.price_internet }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:price_partner="slotProps">
                                            <div class="mb-3 form-floating">

                                                <input type="text" name="price_partner"
                                                       :class="[slotProps.errors.price_partner.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                       id="floatingPricePartner"
                                                       v-model.number="getPricePartner" placeholder="Цена партнера">
                                                <label for="floatingPricePartner">Цена партнера</label>
                                                <small>{{ slotProps.errors.price_partner }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:guarantee="slotProps">
                                            <div class="mb-3 form-floating">

                                                <input type="text" name="guarantee"
                                                       :class="[slotProps.errors.guarantee.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                       id="guarantee"
                                                       v-model.number="model.guarantee" placeholder="Гарантия">
                                                <label for="guarantee">Гарантия</label>
                                                <small>{{ slotProps.errors.guarantee }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:minimum_balance="slotProps">
                                            <div class="mb-3 form-floating">

                                                <input type="text" name="minimum_balance"
                                                       :class="[slotProps.errors.minimum_balance.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                       id="minimum_balance"
                                                       v-model.number="model.minimum_balance"
                                                       placeholder="Минимальный баланс">
                                                <label for="minimum_balance">Минимальный баланс</label>
                                                <small>{{ slotProps.errors.minimum_balance }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:qty_in_package="slotProps">
                                            <div class="mb-3 form-floating">

                                                <input type="text"
                                                       name="qty_in_package"
                                                       :class="[slotProps.errors.qty_in_package.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                       id="qty_in_package"
                                                       v-model.number="model.qty_in_package"
                                                       placeholder="Количество в упаковке">
                                                <label for="qty_in_package">Количество в упаковке</label>
                                                <small>{{ slotProps.errors.qty_in_package }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:weight="slotProps">
                                            <div class="mb-3 form-floating">

                                                <input type="text"
                                                       name="weight"
                                                       :class="[slotProps.errors.weight.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                       id="weight"
                                                       v-model.number="model.weight"
                                                       placeholder="Вес">
                                                <label for="weight">Вес</label>
                                                <small>{{ slotProps.errors.weight }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:length="slotProps">
                                            <div class="mb-3 form-floating">

                                                <input type="text"
                                                       name="length"
                                                       :class="[slotProps.errors.length.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                       id="length"
                                                       v-model.number="model.length"
                                                       placeholder="Длинна">
                                                <label for="weight">Длинна</label>
                                                <small>{{ slotProps.errors.length }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:width="slotProps">
                                            <div class="mb-3 form-floating">

                                                <input type="text"
                                                       name="width"
                                                       :class="[slotProps.errors.width.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                       id="width"
                                                       v-model.number="model.width"
                                                       placeholder="Высота">
                                                <label for="width">Высота</label>
                                                <small>{{ slotProps.errors.width }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:height="slotProps">
                                            <div class="mb-3 form-floating">

                                                <input type="text"
                                                       name="height"
                                                       :class="[slotProps.errors.height.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                       id="height"
                                                       v-model.number="model.height"
                                                       placeholder="Ширина">
                                                <label for="height">Ширина</label>
                                                <small>{{ slotProps.errors.height }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:manufacturer_barcode="slotProps">
                                            <div class="mb-3 form-floating">

                                                <input type="text"
                                                       name="manufacturer_barcode"
                                                       :class="[slotProps.errors.manufacturer_barcode.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                       id="manufacturer_barcode"
                                                       v-model.number="model.manufacturer_barcode"
                                                       placeholder="Штрих код производителя">
                                                <label for="manufacturer_barcode">Штрих код производителя</label>
                                                <small>{{ slotProps.errors.manufacturer_barcode }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:internal_barcode_1="slotProps">
                                            <div class="mb-3 form-floating">

                                                <input type="text"
                                                       name="internal_barcode_1"
                                                       :class="[slotProps.errors.internal_barcode_1.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                       id="internal_barcode_1"
                                                       v-model.number="model.internal_barcode_1"
                                                       placeholder="Штрих код 1">
                                                <label for="internal_barcode_1">Штрих код 1</label>
                                                <small>{{ slotProps.errors.internal_barcode_1 }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:internal_barcode_2="slotProps">
                                            <div class="mb-3 form-floating">

                                                <input type="text"
                                                       name="internal_barcode_2"
                                                       :class="[slotProps.errors.internal_barcode_2.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                       id="internal_barcode_2"
                                                       v-model.number="model.internal_barcode_2"
                                                       placeholder="Штрих код 2">
                                                <label for="internal_barcode_2">Штрих код 2</label>
                                                <small>{{ slotProps.errors.internal_barcode_2 }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:internal_barcode_3="slotProps">
                                            <div class="mb-3 form-floating">

                                                <input type="text"
                                                       name="internal_barcode_3"
                                                       :class="[slotProps.errors.internal_barcode_3.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                       id="internal_barcode_3"
                                                       v-model.number="model.internal_barcode_3"
                                                       placeholder="Штрих код 3">
                                                <label for="internal_barcode_3">Штрих код 3</label>
                                                <small>{{ slotProps.errors.internal_barcode_3 }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:internal_barcode_4="slotProps">
                                            <div class="mb-3 form-floating">

                                                <input type="text"
                                                       name="internal_barcode_4"
                                                       :class="[slotProps.errors.internal_barcode_4.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                       id="internal_barcode_4"
                                                       v-model.number="model.internal_barcode_4"
                                                       placeholder="Штрих код 4">
                                                <label for="internal_barcode_4">Штрих код 4</label>
                                                <small>{{ slotProps.errors.internal_barcode_4 }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:excise_barcode="slotProps">
                                            <div class="mb-3 form-floating">

                                                <input type="text"
                                                       name="excise_barcode"
                                                       :class="[slotProps.errors.excise_barcode.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                       id="excise_barcode"
                                                       v-model.number="model.excise_barcode"
                                                       placeholder="Штрих код акцизной марки">
                                                <label for="excise_barcode">Штрих код акцизной марки</label>
                                                <small>{{ slotProps.errors.excise_barcode }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:is_service="slotProps">

                                            <div class="form-check">

                                                <input type="checkbox"
                                                       name="is_service"
                                                       :class="[slotProps.errors.is_service.length > 0 ? 'is-invalid' : '', 'form-check-input']"
                                                       id="is_service"
                                                       v-model.number="model.is_service"
                                                       placeholder="Услуга">
                                                <label for="is_service">Услуга</label>
                                                <small>{{ slotProps.errors.is_service }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:is_not_in_price="slotProps">

                                            <div class="form-check">

                                                <input type="checkbox"
                                                       name="is_not_in_price"
                                                       :class="[slotProps.errors.is_not_in_price.length > 0 ? 'is-invalid' : '', 'form-check-input']"
                                                       id="is_not_in_price"
                                                       v-model.number="model.is_not_in_price"
                                                       placeholder="Нет в прайсе">
                                                <label for="is_service">Нет в прайсе</label>
                                                <small>{{ slotProps.errors.is_not_in_price }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:is_ignore_discount="slotProps">

                                            <div class="form-check">

                                                <input type="checkbox"
                                                       name="is_ignore_discount"
                                                       :class="[slotProps.errors.is_ignore_discount.length > 0 ? 'is-invalid' : '', 'form-check-input']"
                                                       id="is_ignore_discount"
                                                       v-model.number="model.is_ignore_discount"
                                                       placeholder="Игнорировать скидку">
                                                <label for="is_ignore_discount">Игнорировать скидку</label>
                                                <small>{{ slotProps.errors.is_ignore_discount }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:is_excise="slotProps">

                                            <div class="form-check">

                                                <input type="checkbox"
                                                       name="is_excise"
                                                       :class="[slotProps.errors.is_excise.length > 0 ? 'is-invalid' : '', 'form-check-input']"
                                                       id="is_excise"
                                                       v-model.number="model.is_excise"
                                                       placeholder="Акцизный товар">
                                                <label for="is_excise">Акцизный товар</label>
                                                <small>{{ slotProps.errors.is_excise }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:is_ignore_extra_change="slotProps">

                                            <div class="form-check">

                                                <input type="checkbox"
                                                       name="is_ignore_extra_change"
                                                       :class="[slotProps.errors.is_ignore_extra_change.length > 0 ? 'is-invalid' : '', 'form-check-input']"
                                                       id="is_ignore_extra_change"
                                                       v-model.number="model.is_ignore_extra_change"
                                                       placeholder="Игнорировать наценку">
                                                <label for="is_ignore_extra_change">Игнорировать наценку</label>
                                                <small>{{ slotProps.errors.is_ignore_extra_change }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:is_import="slotProps">

                                            <div class="form-check">

                                                <input type="checkbox"
                                                       name="is_import"
                                                       :class="[slotProps.errors.is_import.length > 0 ? 'is-invalid' : '', 'form-check-input']"
                                                       id="is_import"
                                                       v-model.number="model.is_import"
                                                       placeholder="Импортный товар">
                                                <label for="is_import">Импортный товар</label>
                                                <small>{{ slotProps.errors.is_import }}</small>
                                            </div>
                                        </template>

                                        <template v-slot:category_id="slotProps">
                                            <div class="mb-3 form-floating">

                                                <select name="category_id" id="category_id"
                                                        :class="[slotProps.errors.category_id.length > 0 ? 'is-invalid' : '', 'form-select']"
                                                        v-model="model.category_id"
                                                        required
                                                >
                                                    <template v-for="item in category_select">
                                                        <option :value="item.id" :key="item.id">{{ item.name }}</option>
                                                    </template>
                                                </select>
                                                <label for="category_id">Категория</label>
                                                <small>{{ slotProps.errors.category_id }}</small>

                                            </div>
                                        </template>

                                        <template v-slot:currency_id="slotProps">
                                            <div class="mb-3 form-floating">

                                                <select name="currency_id" id="currency_id"
                                                        :class="[slotProps.errors.currency_id.length > 0 ? 'is-invalid' : '', 'form-select']"
                                                        v-model="model.currency_id"
                                                >
                                                    <template v-for="item in currency_select">
                                                        <option :value="item.id" :key="item.id">{{ item.name }}</option>
                                                    </template>
                                                </select>
                                                <label for="currency_id">Валюта продажи</label>
                                                <small>{{ slotProps.errors.currency_id }}</small>

                                            </div>
                                        </template>

                                        <template v-slot:currency_purchase_id="slotProps">
                                            <div class="mb-3 form-floating">

                                                <select name="currency_purchase_id" id="currency_purchase_id"
                                                        :class="[slotProps.errors.currency_purchase_id.length > 0 ? 'is-invalid' : '', 'form-select']"
                                                        v-model="model.currency_purchase_id"
                                                >
                                                    <template v-for="item in currency_select">
                                                        <option :value="item.id" :key="item.id">{{ item.name }}</option>
                                                    </template>
                                                </select>
                                                <label for="currency_purchase_id">Валюта закупки</label>
                                                <small>{{ slotProps.errors.currency_purchase_id }}</small>

                                            </div>
                                        </template>

                                        <template v-slot:nds_id="slotProps">
                                            <div class="mb-3 form-floating">

                                                <select name="nds_id" id="nds_id"
                                                        :class="[slotProps.errors.nds_id.length > 0 ? 'is-invalid' : '', 'form-select']"
                                                        v-model="model.nds_id"
                                                >
                                                    <template v-for="item in nds_select">
                                                        <option :value="item.id" :key="item.id">{{ item.name }}</option>
                                                    </template>
                                                </select>
                                                <label for="nds_id">Налог</label>
                                                <small>{{ slotProps.errors.nds_id }}</small>

                                            </div>
                                        </template>

                                        <template v-slot:packing_id="slotProps">
                                            <div class="mb-3 form-floating">

                                                <select name="packing_id" id="packing_id"
                                                        :class="[slotProps.errors.packing_id.length > 0 ? 'is-invalid' : '', 'form-select']"
                                                        v-model="model.packing_id"
                                                >
                                                    <template v-for="item in packing_select">
                                                        <option :value="item.id" :key="item.id">{{ item.name }}</option>
                                                    </template>
                                                </select>
                                                <label for="packing_id">Упаковка</label>
                                                <small>{{ slotProps.errors.packing_id }}</small>

                                            </div>
                                        </template>

                                        <template v-slot:set_id="slotProps">
                                            <div class="mb-3 form-floating">

                                                <select name="set_id" id="set_id"
                                                        :class="[slotProps.errors.set_id.length > 0 ? 'is-invalid' : '', 'form-select']"
                                                        v-model="model.set_id"
                                                >
                                                    <template v-for="item in set_select">
                                                        <option :value="item.id" :key="item.id">{{ item.name }}</option>
                                                    </template>
                                                </select>
                                                <label for="set_id">Комплектация</label>
                                                <small>{{ slotProps.errors.set_id }}</small>

                                            </div>
                                        </template>

                                        <template v-slot:unit_id="slotProps">
                                            <div class="mb-3 form-floating">

                                                <select name="unit_id" id="unit_id"
                                                        :class="[slotProps.errors.unit_id.length > 0 ? 'is-invalid' : '', 'form-select']"
                                                        v-model="model.unit_id"
                                                >
                                                    <template v-for="item in unit_select">
                                                        <option :value="item.id" :key="item.id">{{ item.name }}</option>
                                                    </template>
                                                </select>
                                                <label for="unit_id">Единица измерения</label>
                                                <small>{{ slotProps.errors.unit_id }}</small>

                                            </div>
                                        </template>

                                        <template v-slot:vendor_id="slotProps">
                                            <div class="mb-3 form-floating">

                                                <select name="vendor_id" id="vendor_id"
                                                        :class="[slotProps.errors.vendor_id.length > 0 ? 'is-invalid' : '', 'form-select']"
                                                        v-model="model.vendor_id"
                                                >
                                                    <template v-for="item in vendor_select">
                                                        <option :value="item.id" :key="item.id">{{ item.name }}</option>
                                                    </template>
                                                </select>
                                                <label for="vendor_id">Производитель</label>
                                                <small>{{ slotProps.errors.vendor_id }}</small>

                                            </div>
                                        </template>

                                        <template v-slot:markup_id="slotProps">
                                            <div class="mb-3 form-floating">

                                                <select name="markup_id" id="markup_id"
                                                        :class="[slotProps.errors.markup_id.length > 0 ? 'is-invalid' : '', 'form-select']"
                                                        v-model="model.markup_id"
                                                >
                                                    <template v-for="item in markups">
                                                        <option :value="item.id" :key="item.id">{{ item.name }}</option>
                                                    </template>
                                                </select>
                                                <label for="markup_id">Наценка</label>
                                                <small>{{ slotProps.errors.markup_id }}</small>

                                            </div>
                                        </template>

                                        <template v-slot:custom_fields="slotProps">
                                            <CustomField
                                                :items.sync="model.custom_fields"
                                            />
                                        </template>

                                        <template v-slot:analog_ids="slotProps">
                                            <Analog
                                                :items.sync="model.analog_ids"
                                                :warehouse_id="model.warehouse_id"
                                            />
                                        </template>

                                        <template v-slot:photo="slotProps">
                                            <FileField
                                                name="photo"
                                                id="photo"
                                                :classes="[slotProps.errors.photo.length > 0 ? 'is-invalid' : '', 'form-control']"
                                                placeholder="Фото товара"
                                                label="Фото товара"
                                                :errorText="slotProps.errors.photo"
                                                :value="model.photo || ''"
                                                @change="add"
                                            />
                                        </template>

                                    </Form>
                                </div>
                            </div>


                        </template>
                    </add-block>
                </div>
                <div class="col-2 my-3">
                    <input
                        @input="filters('query', $event)"
                        type="search"
                        class=""
                    />
                </div>
            </div>
        </div>

        <div class="mb-3 form-floating">

            <select id="warehouse_id"
                    class="form-select"
                    @change="set_warehouse"
            >
                <template v-for="item in warehouse_select">
                    <option :value="item.id" :key="item.id">{{ item.name }}</option>
                </template>

            </select>
            <label for="warehouse_id">Склад</label>

        </div>

        <div class="table-responsive">
            <div class="table-responsive">

                <preloader>
                    <template v-slot:content>
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th scope="col">Product</th>
                                <th scope="col">ID</th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="(product, index) in products" :key="index">
                                <td>{{ product.id }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.id }}</td>

                                <td>
                                    <button class="btn btn-danger" @click.prevent="confirm(product.id)">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-info" @click.prevent="edit(product.id)">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <Pagination
                            :urls="urls"
                            :total="total"
                            :lastPage="lastPage"
                            @changePerPage="changePerPage"
                            @changePage="fetch"
                        ></Pagination>
                    </template>
                </preloader>
            </div>
        </div>

        <modal
            v-if="isModalVisible"
            @cancel="cancelDelete"
            @ok="confirmed"
            ok-class="btn btn-danger"
            ok-text="Delete"
        >
            <template v-slot:header>
                Deleting Car
            </template>
            <template v-slot:body>Do You want delete this car?</template>
        </modal>

    </main>
</template>

<script>
import Modal from './Modal';
import AddBlock from './AddBlock';

import Preloader from '../services/ui-components/Preloader';
import Pagination from '../services/ui-components/Pagination';
import Form from '../services/ui-components/Form';
import FileField from '../services/ui-forms/fields/File';
import CustomField from '../services/ui-forms/fields/CustomField';
import {mapActions, mapGetters, mapMutations} from 'vuex';
import MixinPaginate from '../mixins/paginate';
import MixinForm from '../mixins/form';
import MixinModal from '../mixins/modal';
import SelectSearch from "../services/ui-forms/fields/SelectSearch";
import Analog from "../services/ui-forms/fields/Analog";

export default {
    name: "Product",
    components: {
        Modal,
        AddBlock,
        Preloader,
        Pagination,
        Form,
        FileField,
        CustomField,
        SelectSearch,
        Analog
    },

    mixins: [MixinPaginate, MixinForm, MixinModal],

    data() {
        return {
            deleting: [],
            model: {
                id: null,
                name: null,
                description: null,
                markup_id: null,
                price_purchase: 0,
                currency_purchase_id: null,
                currency_id: null,
                price_retail: 0,
                price_opt: 0,
                price_internet: 0,
                price_partner: 0,
                photo: null,
                guarantee: null,
                minimum_balance: null,
                is_service: null,
                qty_in_package: null,
                weight: null,
                length: null,
                width: null,
                height: null,
                is_not_in_price: null,
                manufacturer_barcode: null,
                internal_barcode_1: null,
                internal_barcode_2: null,
                internal_barcode_3: null,
                internal_barcode_4: null,
                excise_barcode: null,
                is_ignore_discount: null,
                is_excise: null,
                is_ignore_extra_change: null,
                is_import: null,
                category_id: null,
                nds_id: null,
                packing_id: null,
                set_id: null,
                unit_id: null,
                vendor_id: null,
                custom_fields: [],
                analog_ids: [],
                warehouse_id: null,
            },
            filter: [],
            // items: null
        }
    },

    computed: {
        ...mapGetters({
            products: 'product/getItems',
            all: 'product/getAll',
            category_select: 'category/getAll',
            currency_select: 'currency/getAll',
            nds_select: 'nds/getAll',
            packing_select: 'packing/getAll',
            set_select: 'set/getAll',
            unit_select: 'unit/getAll',
            vendor_select: 'vendor/getAll',
            markups: 'markup/getAll',
            warehouse_select: 'warehouse/getAll',
        }),

        loading() {
            return this.$store.state.loading;
        },

        getPriceRetail: {
            get() {

                let priceRetail = parseFloat((this.model.price_retail ?? 0) || 0);
                if (priceRetail == 0) {

                    if (this.model.currency_purchase_id === null) {
                        return 0
                    }

                    if (this.model.currency_id === null) {
                        return 0
                    }

                    if (this.model.markup_id === null) {
                        return 0
                    }

                    let pricePurchase = this.model.price_purchase * this.getCurrencyRate(this.model.currency_purchase_id);
                    priceRetail = (pricePurchase * this.getMarkup(this.model.markup_id, 'percent1') / 100 + pricePurchase) / this.getCurrencyRate(this.model.currency_id);
                }

                this.getPriceRetail = priceRetail;
                return priceRetail;
            },
            set(value) {
                this.model.price_retail = value || 0;
            }

        },
        getPriceOpt: {
            get() {

                let priceOpt = parseFloat((this.model.price_opt ?? 0) || 0);

                if (priceOpt == 0) {

                    if (this.model.currency_purchase_id === null) {
                        return 0
                    }
                    if (this.model.currency_id === null) {
                        return 0
                    }
                    if (this.model.markup_id === null) {
                        return 0
                    }

                    let pricePurchase = this.model.price_purchase * this.getCurrencyRate(this.model.currency_purchase_id);
                    priceOpt = (pricePurchase * this.getMarkup(this.model.markup_id, 'percent2') / 100 + pricePurchase) / this.getCurrencyRate(this.model.currency_id);
                }
                this.getPriceOpt = priceOpt;
                return priceOpt;
            },
            set(value) {
                this.model.price_opt = value || 0;
            }
        },
        getPriceInternet: {
            get() {

                let priceInternet = parseFloat((this.model.price_internet ?? 0) || 0);

                if (priceInternet == 0) {

                    if (this.model.currency_purchase_id === null) {
                        return 0
                    }
                    if (this.model.currency_id === null) {
                        return 0
                    }
                    if (this.model.markup_id === null) {
                        return 0
                    }

                    let pricePurchase = this.model.price_purchase * this.getCurrencyRate(this.model.currency_purchase_id);
                    priceInternet = (pricePurchase * this.getMarkup(this.model.markup_id, 'percent3') / 100 + pricePurchase) / this.getCurrencyRate(this.model.currency_id);
                }

                this.getPriceInternet = priceInternet;
                return priceInternet;
            },
            set(value) {
                this.model.price_internet = value || 0;
            }
        },
        getPricePartner: {
            get() {

                let pricePartner = parseFloat((this.model.price_partner ?? 0) || 0);

                if (pricePartner == 0) {

                    if (this.model.currency_purchase_id === null) {
                        return 0
                    }
                    if (this.model.currency_id === null) {
                        return 0
                    }
                    if (this.model.markup_id === null) {
                        return 0
                    }

                    let pricePurchase = this.model.price_purchase * this.getCurrencyRate(this.model.currency_purchase_id);
                    pricePartner = (pricePurchase * this.getMarkup(this.model.markup_id, 'percent4') / 100 + pricePurchase) / this.getCurrencyRate(this.model.currency_id);
                }

                this.getPricePartner = pricePartner;
                return pricePartner;
            },
            set(value) {
                this.model.price_partner = value || 0;
            }
        },

    },

    created() {
        this.get_all_category();
        this.get_all_currency();
        this.get_all_nds();
        this.get_all_packing();
        this.get_all_set();
        this.get_all_unit();
        this.get_all_vendor();
        this.get_all_markups();
        this.get_all_warehouse();

        // console.log(this.all)
    },

    methods: {
        ...mapActions({
            save: 'product/save',
            remove: 'product/delete',
            get_all_category: 'category/all4product',
            get_all_currency: 'currency/all',
            get_all_nds: 'nds/all',
            get_all_packing: 'packing/all',
            get_all_set: 'set/all',
            get_all_unit: 'unit/all',
            get_all_vendor: 'vendor/all',
            get_all_markups: 'markup/all',
            get_all_warehouse: 'warehouse/all',
            get_products: 'product/fetch',
        }),


        getCurrencyRate(id) {
            let currency = this.currency_select.filter(item => {
                    return item.id == id;
                }
            );

            let result = '0';
            if (currency.length > 0) {
                result = currency[0].rate ?? '0';
            }

            return parseFloat(result);
        },
        getMarkup(id, type) {
            let markup = this.markups.filter(item => {
                return item.id == id;
            });

            let result = '0';
            if (markup.length > 0) {
                result = markup[0][type] ?? '0';
            }
            return parseFloat(result);
        },
        confirm(id) {
            this.deleting.push(id);
            this.showModal();
        },
        confirmed() {
            this.delete();
            this.closeModal();
        },
        clearDelete() {
            this.deleting = [];
        },
        cancelDelete() {
            this.clearDelete();
            this.closeModal();
        },
        edit(id) {

            let items = this.products.filter((item) => {
                return item.id == id;
            });

            this.model = Object.assign({}, this.model, items[0]);


            if (this.model.category.warehouse[0] !== undefined) {
                this.model.warehouse_id = this.model.category.warehouse[0].id.toString();
            }
//TODO Не работает при отсутсвии категорий и складов
            this.showForm();
            this.changeFormType('update');
        },
        delete() {
            this.remove(Object.assign({}, this.model, {'ids': this.deleting})).then(() => {
                this.cancelDelete();
            })
        },
        add(e, key) {
            this.model[key] = e.target.files[0];
        },
        set_warehouse(e) {
            this.$store.commit('FILTER', {warehouse_id: e.target.value});
            this.changePerPage({perPage: null});
        },
        filters(key, value) {
            let obj = {};
            if (typeof value.target !== 'undefined') {
                obj[key] = value.target.value;
                this.filter.push(obj);

            } else {
                obj[key] = value;
                this.filter.push(obj);
            }

            for (let item in this.filter) {
                this.$store.commit('FILTER', Object.assign({}, this.filter[item]));
            }

            this.changePerPage({perPage: null});

        },


    }
}
</script>

<style scoped>

</style>
