<template>
    <div class="container-fluid main-wrapper">
        <div class="row gx-1 mt-2 mb-2 work">
            <div class="col-8">

                <div class="p-3 border bg-light">

                    <div class="row p-2 head">
                        <p>Check and cache</p>
                    </div>

                    <div class="p-3 border sales">

                        <table
                            class="table table-success"
                        >
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in sale_product"
                                :key="index"
                            >
                                <th scope="row">{{ item.id }}</th>
                                <td>{{ item.name }}</td>
                                <td>{{ item.price_retail }}</td>
                                <td>@mdo</td>
                            </tr>

                            </tbody>
                        </table>

                        <button type="button" class="btn btn-success">Right</button>
                        <button type="button" class="btn btn-danger">Left</button>
                    </div>



                </div>
            </div>
            <div class="col-4">
                <div class="p-3 border bg-light overflow-scroll">
                    <div class="row p-2 head">
                        <p>Products</p>
                    </div>

                    <div class="p-3 border search">

                        <custom-search
                            action="product/search"
                            @set_product="set_product_id"
                            :warehouse_id="model.warehouse_id"
                        />


                        <hr>

                        <preloader>
                            <template v-slot:content>
                                <table class="table">
                                    <tbody>
                                    <tr v-for="(product, index) in set_search()" :key="index">
                                        <td>
                                            <div class="d-grid">
                                                <button class="btn btn-outline-success" type="button"
                                                        @click="add_product(product)"
                                                >{{ product.name }}
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </template>
                        </preloader>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Modal from './Modal';
import AddBlock from './AddBlock';

import Preloader from '../services/ui-components/Preloader';
import Pagination from '../services/ui-components/Pagination';
import Form from '../services/ui-components/Form';
import FileField from '../services/ui-forms/fields/File'
import {mapActions, mapGetters, mapMutations} from 'vuex';
import MixinPaginate from '../mixins/paginate';
import MixinForm from '../mixins/form';
import MixinModal from '../mixins/modal';
import CustomSearch from "../services/ui-forms/fields/CustomSearch";

export default {
    name: "Sale",
    components: {
        Modal,
        AddBlock,
        Preloader,
        Pagination,
        Form,
        FileField,
        CustomSearch
    },

    mixins: [MixinPaginate, MixinForm, MixinModal],

    data() {
        return {
            deleting: [],
            model: {
                id: null,
                product_id: null,
                user_id: null,
                warehouse_id: '1',
                total_price: null,
            },
            searchProduct: [],
            sale_product: []

        }
    },
    computed: {
        ...mapGetters({
            products: 'product/getItems',
            getChoice: 'product/getChoiced',
            getChoiceSale: 'sale/getChoiced'
        })
    },
    loading() {
        return this.$store.state.loading;
    },
    created() {
        this.$store.commit('FILTER', {warehouse_id: this.model.warehouse_id});
        this.get_products({perPage: 5, warehouse_id: this.model.warehouse_id});

        // console.group('RRRRRR');
        // console.log(this.model.warehouse_id);
        // console.table({war:1,ret:3});
        // console.groupEnd();
    },

    methods: {
        ...mapActions({
            get_products: 'product/fetch',
            search: 'product/search'
        }),
        ...mapMutations({
            choiced_product: 'product/SET_CHOICED',
            clear_product: 'product/CLEAR_CHOICE',
            set_sale_products: 'sale/FILL_PRODUCTS'
        }),

        set_product_id(options) {

            options.forEach(item => {
                this.choiced_product(item);

            })
            this.searchProduct = this.getChoice;
            this.clear_product();

        },

        set_search() {
            if (this.searchProduct.length === 0) {
                return this.products;
            }
            return this.searchProduct;
        },

        add_product(item) {
            this.set_sale_products(item);
            this.sale_product = this.getChoiceSale;
        }
    },


}

</script>


<style scoped lang="scss">

.work > div > div.bg-light {
    height: 100vh;
    position: relative;
}

.sales, .head, .search {
    left: 1%;
    right: 1%;
}

.sales {
    border: 1px solid #134f8a !important;
}

.search {
    border: 1px solid #138a6e !important;
}

.sales, .search {
    height: 90%;
    position: absolute;
    bottom: 1%;
}

.head {
    height: 10%;
    top: 1%;
    position: absolute;
}

.head > p {
    text-align: center;
}

.search > p {
    margin-bottom: 1px !important;
}
</style>
