<template>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Page for Warehouses</h1>

        </div>

        <add-block
            btnShowText="Показать форму"
            btnHideText="Скрыть форму"
            :hidden="hidenForm"
            @hide="hideForm"
            @show="showForm"
        >
            <template v-slot:content>

                <div class="row border border-success rounded rounded-10 shadow-lg p-3 mb-5 border-1 mt-3">
                    <div class="col-12">

                        <Form
                            :model="getModel"
                            :formType="formType"
                            action="warehouse/save"
                            @submit="submit"
                            :needFile="true"
                        >

                            <template v-slot:name="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" required name="name"
                                           :class="[slotProps.errors.name.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingName"
                                           v-model.number="model.name" placeholder="Склад">
                                    <label for="floatingName">Склад</label>
                                    <small>{{ slotProps.errors.name }}</small>
                                </div>
                            </template>

                            <template v-slot:description="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" name="description"
                                           :class="[slotProps.errors.description.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingDescription"
                                           v-model="model.description" placeholder="Описание">
                                    <label for="floatingDescription">Описание</label>
                                    <small>{{ slotProps.errors.description }}</small>
                                </div>
                            </template>

                            <template v-slot:phone="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" name="phone"
                                           :class="[slotProps.errors.phone.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingPhone"
                                           v-model="model.phone" placeholder="Телефон">
                                    <label for="floatingPhone">Телефон</label>
                                    <small>{{ slotProps.errors.phone }}</small>
                                </div>
                            </template>

                            <template v-slot:contact="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" name="contact"
                                           :class="[slotProps.errors.contact.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingContact"
                                           v-model="model.contact" placeholder="Управляющий">
                                    <label for="floatingContact">Управляющий</label>
                                    <small>{{ slotProps.errors.contact }}</small>
                                </div>
                            </template>

                            <template v-slot:address="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" name="address"
                                           :class="[slotProps.errors.address.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingAddress"
                                           v-model="model.address" placeholder="Адрес">
                                    <label for="floatingAddress">Адрес</label>
                                    <small>{{ slotProps.errors.address }}</small>
                                </div>
                            </template>

                            <template v-slot:categories="slotProps">
                                <div class="mb-3 form-floating">

                                    <CheckBoxes v-for="node in select_category"
                                                :key="node.id"
                                                :node="node"
                                                :selected.sync="model.categories"
                                                @on_check="on_check"
                                    />

                                </div>
                            </template>

                        </Form>
                    </div>
                </div>

            </template>
        </add-block>

        <br>

        <hr>
        <Pagination
            :urls="urls"
            :total="total"
            :lastPage="lastPage"
            @changePerPage="changePerPage"
            @changePage="fetch"
        ></Pagination>
        <hr>

        <h2>Section title</h2>
        <div class="table-responsive">
            <div class="table-responsive">

                <preloader>
                    <template v-slot:content>
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th scope="col">Unit</th>
                                <th scope="col">Description</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="(unit, index) in items" :key="index">
                                <td>{{ unit.id }}</td>
                                <td>{{ unit.name }}</td>
                                <td>{{ unit.description }}</td>
                                <td>
                                    <button class="btn btn-danger" @click.prevent="confirm(unit.id)">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-info" @click.prevent="edit(unit.id)">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <Pagination
                            :urls="urls"
                            :total="total"
                            :lastPage="lastPage"
                            @changePerPage="changePerPage"
                            @changePage="fetch"
                        ></Pagination>
                    </template>
                </preloader>
            </div>
        </div>

        <modal
            v-if="isModalVisible"
            @cancel="cancelDelete"
            @ok="confirmed"
            ok-class="btn btn-danger"
            ok-text="Delete"
        >
            <template v-slot:header>
                Deleting warehouse
            </template>
            <template v-slot:body>Do You want delete this warehouse?</template>
        </modal>

    </main>
</template>

<script>
import Modal from './Modal';
import AddBlock from './AddBlock';

import Preloader from '../services/ui-components/Preloader';
import Pagination from '../services/ui-components/Pagination';
import Form from '../services/ui-components/Form';
import FileField from '../services/ui-forms/fields/File'
import {mapActions, mapGetters, mapMutations} from 'vuex';
import MixinPaginate from '../mixins/paginate';
import MixinForm from '../mixins/form';
import MixinModal from '../mixins/modal';
import CheckBoxes from '../services/ui-components/CheckBoxes';

export default {
    name: "Warehouse",
    components: {
        Modal,
        AddBlock,
        Preloader,
        Pagination,
        Form,
        FileField,
        CheckBoxes
    },

    mixins: [MixinPaginate, MixinForm, MixinModal],

    data() {
        return {
            deleting: [],
            model: {
                id: null,
                name: null,
                description: null,
                phone: null,
                contact: null,
                address: null,
                categories: []
            },
            choiced: []
        }
    },

    computed: {
        ...mapGetters({
            items: 'warehouse/getItems',
            select_category: 'category/getAll',
            getChoice: 'category/getChoiced'
        }),

        // addModelChoiced: {
        //     set(item) {
        //         this.model.categories.push(item)
        //     },
        //     get() {
        //         for (let item in this.getChoice) {
        //             this.model.categories.push(this.getChoice[item]);
        //         }
        //         console.log(this.model.categories);
        //         return this.model.categories;
        //     }
        // },

        loading() {
            return this.$store.state.loading;
        }
    },

    created() {
        this.category_options();
    },

    methods: {
        ...mapActions({
            save: 'warehouse/save',
            remove: 'warehouse/delete',
            category_options: 'category/all',
            category_children: 'category/children',
        }),

        ...mapMutations({
            choiced_cat: 'category/SET_CHOICED',
            clear_cat: 'category/CLEAR_CHOICE',
        }),

        confirm(id) {
            this.deleting.push(id);
            this.showModal();
        },
        confirmed() {
            this.delete();
            this.closeModal();
        },
        clearDelete() {
            this.deleting = [];
        },
        cancelDelete() {
            this.clearDelete();
            this.closeModal();
        },
        edit(id) {

            let items = this.items.filter((item) => {
                return item.id == id;
            });

            this.model = Object.assign({}, this.model, items[0]);
            this.showForm();
            this.changeFormType('update');
        },
        delete() {
            this.remove(Object.assign({}, this.model, {'ids': this.deleting})).then(() => {
                this.cancelDelete();
            })
        },
        add(e, key) {
            this.model[key] = e.target.files[0];
        },
        on_check(e) {
            const {value, checked} = e.target;

            let choised = this.model.categories;

            this.category_children(value).then(response => {
                response.push(parseInt(value));

                if (checked) {
                    let difference = choised.concat(response);
                    difference.forEach(item => {
                        this.choiced_cat(item);
                    });
                    this.model.categories = this.getChoice;
                    this.clear_cat();
                } else {

                    let difference = choised.filter(x => !response.includes(x));

                    difference.forEach(item => {
                        this.choiced_cat(item);
                    });

                    this.model.categories = this.getChoice;
                    this.clear_cat();
                }

            });

            console.log(this.model.categories);
        }
    }
}
</script>

<style scoped>

</style>
