<template>
    <div>
        <div class="select-search mb-3">

            <div class="select-search__body-search">
                <input
                    class="select-search__body-input"
                    v-model="query"
                    @input="choice()"
                    type="search"
                    placeholder="Введите название товара или штрих код">
            </div>
            <!--                <div class="select-search__body-options">-->
            <!--                    <a v-for="(item, index) in options" :key="index" href="#" @click.prevent="choice(item)"-->
            <!--                       :class="['select-search__body-item', typeof item.id === 'undefined' ? 'empty' : '']">{{-->
            <!--                            item.name-->
            <!--                        }}</a>-->
            <!--                </div>-->
        </div>

    </div>
</template>

<script>

export default {
    name: "CustomSearch",
    data() {
        return {
            model: {
                value: {
                    name: '',
                    id: ''
                },
            },
            is_visible: false,
            query: '',
            options: []
        }
    },
    props: {
        action: {
            type: String
        },
        warehouse_id: {
            type: String
        }
    },
    computed: {},
    watch: {
        query: function (value) {
            if (value.length >= 1) {
                this.$store.dispatch(this.action, {query: value, warehouse_id: this.warehouse_id}).then(response => {

                    this.$emit('set_product', response);

                });
            }
        }

    },
    methods: {

        choice() {

            for (let item in this.options) {
                // console.log(this.options);
            }

        }

    }
}
</script>

<style scoped lang="scss">
.select-search {
    &__title {
        &-wrap {
            position: relative;
            padding: 0.6rem;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 10px;
                height: 10px;
                border-top: 10px solid #000000;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                right: 0.9rem;
                top: calc(50% - 5px);
            }
        }

        &-label {
        }

        &-selected {
            margin-bottom: 0;
        }
    }

    &__body {
        background: #f8fafc;
        margin-top: -2px;
        position: relative;
        border: 1px solid #ced4da;
        border-top-width: 0;
        padding: 0 .6rem .6rem;

        &-search {
        }

        &-input {
            width: 100%;
            padding: 5px;
            outline: none;
            border: 1px solid #ced4da;
        }

        &-options {
            margin-top: -1px;
            position: relative;
            background: #f8fafc;
            border: 1px solid #ced4da;
            border-top-width: 0;
        }

        &-item {
            display: block;
            margin-bottom: 5px;
            padding: 5px 5px 5px 3px;
            border-bottom: 1px solid #ced4da;
            text-decoration: none;
            color: #000;

            &:last-child {
                margin-bottom: 0;
                border-bottom: 0;
            }

            &.empty {
            }
        }
    }
}
</style>
