<template>
    <div>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Key</th>
                <th>Type</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <TextField
                        type_field="text"
                        name="name"
                        label="Name"
                        :value.sync="model.name"/>
                </td>
                <td>
                    <TextField
                        type_field="text"
                        name="key"
                        label="Key"
                        :value.sync="model.key"/>
                </td>
                <td>
                    <Select
                        :items="cfTypes"
                        name="type"
                        :value.sync="model.type"/>
                </td>
                <td>

                    <TextField
                        v-if="model.type !== null"
                        :type_field="model.type"
                        name="value"
                        label="Value"
                        :value.sync="model.value"
                        :required="false"/>
                </td>
                <td>
                    <button class="btn btn-success btn-lg mb-3" type="button" @click.prevent="add"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            <tr v-for="(item, index) in input" :key="index">
                <td>
                    <p>{{ item.name }}</p>
                </td>
                <td>
                    <p>{{ item.key }}</p>
                </td>
                <td>
                    <p>{{ item.type }}</p>
                </td>
                <td>
                    <p>{{ item.value }}</p>
                </td>
                <td>
                    <button type="button" @click.prevent="del(index)"><i class="fa fa-eraser" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import {mapGetters} from 'vuex';
import TextField from '../fields/TextField';
import Select from '../fields/Select';

export default {
    name: "CustomField",
    components: {
        TextField,
        Select
    },
    props: {
        items: {
            type: Array
        }
    },
    data() {
        return {
            model: {
                name: null,
                key: null,
                type: null,
                value: null
            }
        }
    },
    computed: {
        ...mapGetters({
            cfTypes: 'settings/getCfTypes'
        }),

        input: {
            get() {
                return this.items
            },
            set(value) {
                this.$emit('update:items', value)
            }
        }
    },
    methods: {

        changeType() {
            this.model.value = null;
        },

        add() {
            let items = this.input.map(function (item) {
                return Object.assign({}, item);
            });
            if (this.model.value === null || this.model.value.length === 0) { return }
            items.push(Object.assign({}, this.model));
            this.input = items;

            for (let item in this.model) {
                if (!this.model.hasOwnProperty(item)) {
                    continue;
                }
                this.model[item] = null;
            }

        },
        del(index) {
            let items = this.input.map(function (item) {
                return Object.assign({}, item);
            });
            items.splice(index, 1);
            this.input = items;
        }
    }
}
</script>

<style scoped>

</style>
