<template>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col" >Count</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    <select-search
                        action="product/search"
                        @set_product="set_product_id"
                        :warehouse_id="warehouse_id"
                    />
                </th>
                <th>
                    <TextField
                        type_field="text"
                        name="key"
                        label="Count"
                        :value.sync="model.count"/>
                </th>
                <th>
                    <button class="btn btn-success btn-lg mb-3" type="button" @click.prevent="add"><i
                        class="fa fa-floppy-o" aria-hidden="true"></i>
                    </button>
                </th>
            </tr>
            <tr v-for="(item, index) in input" :key="index">
                <td>
                    <p>{{ item.name }}</p>
                </td>
                <td>
                    <p>{{ item.count }}</p>
                </td>
                <td>
                    <button type="button" @click.prevent="del(index)"><i class="fa fa-eraser" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>

import SelectSearch from "./SelectSearch";
import TextField from "./TextField";
import {mapActions, mapGetters, mapMutations} from 'vuex';

export default {
    name: "ProductCount",
    components: {
        SelectSearch,
        TextField
    },
    props: {
        items: {
            type: Array
        },
        warehouse_id: {
            type: String
        }
    },
    data() {
        return {
            model: {
                product_id: null,
                count: null,
                name: null
            }
        }
    },

    created() {
        this.get_products();
    },

    computed: {
        ...mapGetters({
            products: 'product/getAll'
        }),

        input: {
            get() {
                return this.items || [];
            },
            set(value) {
                this.$emit('update:items', value)
            }
        }
    },

    methods: {
        ...mapActions({
            get_products: 'product/all'
        }),

        set_product_id(id) {
            this.model.product_id = id.toString();
            this.model.name = this.products.filter(item => {
                return item.id == id;
            })[0].name;
        },

        add() {
            if (this.model.count === null || this.model.product_id === null) { return }
            let items = this.input.map(function (item) {
                return Object.assign({}, item);
            });
            items.push(Object.assign({}, this.model));

            this.input = items;

            for (let item in this.model) {
                if (!this.model.hasOwnProperty(item)) {
                    continue;
                }
                this.model[item] = null;
            }
        },

        del(index) {
            let items = this.input.map(function (item) {
                return Object.assign({}, item);
            });
            items.splice(index, 1);
            this.input = items;
        }
    }

}
</script>

<style scoped>

</style>
