<template>
    <div>
        <div class="select-search mb-3">
            <div class="select-search__title">
                <div class="select-search__title-wrap" @click="show">
                    <label class="select-search__title-label">Товар</label>
                    <p class="select-search__title-selected">
                        {{ model.value.name.length > 0 ? model.value.name : 'Выберите товар' }}</p>
                </div>
            </div>
            <div v-if="is_visible" class="select-search__body">
                <div class="select-search__body-search">
                    <input class="select-search__body-input" v-model="query" type="text" placeholder="Введите название товара или штрих код">
                </div>
                <div class="select-search__body-options">
                    <a v-for="(item, index) in options" :key="index" href="#" @click.prevent="choice(item)"
                       :class="['select-search__body-item', typeof item.id === 'undefined' ? 'empty' : '']">{{
                            item.name
                        }}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "SelectSearch",
    data() {
        return {
            model: {
                value: {
                    name: '',
                    id: ''
                },
            },
            is_visible: false,
            query: '',
            options: []
        }
    },
    props: {
        action: {
            type: String
        },
        warehouse_id: {
            type: String
        }
    },
    watch: {
        query: function (value) {
            if (value.length >= 3) {
                this.$store.dispatch(this.action, {query: value, warehouse_id: this.warehouse_id}).then(response => {
                    this.options = response.length > 0 ? response : [{name: 'Не найдено'}];
                });
            }
        }
    },
    methods: {
        show() {
            this.is_visible = true;
        },
        hide() {
            this.is_visible = false;
        },
        choice(item) {
            if (typeof item.id === 'undefined') {
                return false;
            }
            this.model.value.name = item.name;
            this.model.value.id = item.id;
            this.query = '';
            this.options = [];
            this.hide();
            this.$emit('set_product', item.id);
        }

    }
}
</script>

<style scoped lang="scss">
.select-search {
    &__title {
        &-wrap {
            position: relative;
            padding: 0.6rem;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 10px;
                height: 10px;
                border-top: 10px solid #000000;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                right: 0.9rem;
                top: calc(50% - 5px);
            }
        }

        &-label {
        }

        &-selected {
            margin-bottom: 0;
        }
    }

    &__body {
        background: #f8fafc;
        margin-top: -2px;
        position: relative;
        border: 1px solid #ced4da;
        border-top-width: 0;
        padding: 0 .6rem .6rem;
        &-search {
        }

        &-input {
            width: 100%;
            padding: 5px;
            outline: none;
            border: 1px solid #ced4da;
        }

        &-options {
            margin-top: -1px;
            position: relative;
            background: #f8fafc;
            border: 1px solid #ced4da;
            border-top-width: 0;
        }

        &-item {
            display: block;
            margin-bottom: 5px;
            padding: 5px 5px 5px 3px;
            border-bottom: 1px solid #ced4da;
            text-decoration: none;
            color: #000;
            &:last-child{
                margin-bottom: 0;
                border-bottom: 0;
            }
            &.empty {
            }
        }
    }
}
</style>
