<template>
    <div class="mb-3 form-floating">

        <select
                :name="name"
                class="form-select"
                v-model="input">
            <option :value=null>Choose...</option>
            <option
                    v-for="(item, index) in items"
                    :key="index"
                    :value="item.id">
                {{ item.name }}
            </option>

        </select>

        <small>{{ error }}</small>
    </div>
</template>

<script>
    export default {
        name: "Select",
        props: {
            name: {
                type: String
            },
            value: {},
            error: {
                type: String
            },
            items: {
                type: Array
            },
        },
        computed: {
            input: {
                get() {
                    return this.value
                },
                set(value) {
                    this.$emit('update:value', value)
                }
            }
        }
    }
</script>

<style scoped>

</style>