<template>
    <div class="mb-3 form-floating">

        <input :type="type_field"
               :required="required"
               :name="name"
               :class="[error.length > 0 ? 'is-invalid' : '', 'form-control', 'input']"
               :id="'floating' + name"
               v-model.trim="input"
               :placeholder="label">
        <label for="'floating' + name">*{{ label }}</label>
        <small>{{ error }}</small>
    </div>
</template>

<script>
    export default {
        name: "TextField",
        props: {
            name: {
                type: String,
                required: true
            },
            label: {
                type: String,
                required: true
            },
            value: {
                type: String,
                // required: true
            },
            error: {
                type: String,
                default: ''
            },
            type_field: {
                type: String,
                default: 'text',
                required: false
            },
            required: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            input: {
                get() {
                    return this.value
                },
                set(value) {
                    this.$emit('update:value', value)
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    .input:invalid {
        border-color: #f00000;
        &:focus {
            box-shadow: none;
        }
    }
</style>