<template>
    <div>
        <div class="form-check" :style="nodeMargin">

            <input class="form-check-input"
                   type="checkbox"
                   :value="node.id"
                   :id="'cat_' + node.id"
                   v-model="model.categories"
                   @change="on_check"
            >
            <label class="form-check-label" :for="'cat_' + node.id">
                {{ node.name }} {{ node.id }}
            </label>

        </div>

        <div v-if="hasChildren">
            <CheckBoxes
                v-for="child in node.children"
                :key="child.id"
                :node="child"
                :spacing="spacing + 20"
                @on_check="on_check"
            />
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters, mapMutations} from 'vuex';

export default {
    name: "CheckBoxes",
    props: {

        node: {
            type: Object
        },
        spacing: {
            type: Number,
            default: 0
        },
        selected: {
            type: Array
        }
    },

    data() {
        return {
            model: {
                categories: []
            }
        }
    },
    computed: {
        ...mapGetters({getChoice: 'category/getChoiced'}),
        hasChildren() {
            const {children} = this.node
            return children && children.length > 0
        },
        nodeMargin() {
            return {
                'margin-left': `${this.spacing}px`
            }
        },
        input: {
            get() {
                return this.selected;
            },
            set(value) {
                this.$emit('update:selected', value);
            }
        },
        // setChecked: {
        //     set(node) {
        //         if (Array.isArray(node)) {
        //             node = node[0];
        //         }
        //
        //         console.log(node);
        //         if (typeof node === 'number') {
        //             node = Object.assign({}, this.node);
        //         }
        //
        //         if (this.model.categories.indexOf(node.id) === -1) {
        //             this.model.categories.push(node.id);
        //         }
        //
        //         if (node.children && node.children.length > 0) {
        //             for (let item in node.children) {
        //                 this.setChecked = node.children[item];
        //             }
        //         }
        //     },
        //     get() {
        //         return this.model.categories;
        //     }
        // }
    },
    methods: {
        ...mapMutations({
            setChoice: 'category/SET_CHOICED',
            clearChoice: 'category/CLEAR_CHOICE'
        }),
        on_check(e) {
            this.$emit('on_check', e);

            if (Array.isArray(this.node)) {
                this.node = this.node[0];
            }

            console.log(this.model.categories.indexOf(this.node.id));
            if (typeof this.node === 'number') {
                this.node = Object.assign({}, this.node);
            }


            if (this.model.categories.indexOf(this.node.id) === -1) {
                console.log('this node = ', this.node.id, ' and categories = ', this.model.categories);
                this.model.categories.push(this.node.id);
                this.model.categories.indexOf(this.node.id + 1)
                if (!this.model.categories.length > 0) { }
                console.log(this.model.categories)
            }


            if (this.node.children && this.node.children.length > 0) {
                for (let item in this.node.children) {
                    console.log(this.node.children[item].id)
                    // this.setChecked = this.node.children[item];
                    // this.model.categories.push(this.node.id);
                    this.model.categories.push(this.node.children[item]);
                }
            }
        }
    }
}
</script>

<style scoped>

</style>
