<template>
    <div>
        <div class="form-check" :style="nodeMargin">

            <input class="form-check-input"
                   type="checkbox"
                   :value="node.id"
                   :id="'cat_' + node.id"
                   v-model="input"
                   @change="on_check"
            >
            <label class="form-check-label" :for="'cat_' + node.id">
                {{ node.name }}
            </label>

        </div>

        <div v-if="hasChildren">
            <CheckBoxes
                v-for="child in node.children"
                :key="child.id"
                :node="child"
                :spacing="spacing + 20"
                :selected.sync="selected"
                @on_check="on_check"
            />
        </div>
    </div>
</template>

<script>

export default {
    name: "CheckBoxes",
    props: {

        node: {
            type: Object
        },
        spacing: {
            type: Number,
            default: 0
        },
        selected: {
            type: Array
        }
    },

    data() {
        return {
            model: {
                categories: []
            }
        }
    },
    computed: {
        hasChildren() {
            const {children} = this.node;
            return children && children.length > 0;
        },
        nodeMargin() {
            return {
                'margin-left': `${this.spacing}px`
            }
        },
        input: {
            get() {
                return this.selected;
            },
            set(value) {
                return false;
            }
        }
    },
    methods: {
        on_check(e) {
            this.$emit('on_check', e);
        }
    }
}
</script>

<style scoped>

</style>
