<template>
    <form action="/" method="post" @submit.prevent="submit" :enctype="formEnctype">
        <template v-for="(value, name, index) in model">
            <slot v-bind:errors="errors" :name="name"></slot>
        </template>

        <div class="mb-3 text-end ">
            <button type="submit" class="btn btn-outline-success ">
                <span v-if="formType === 'new'">Добавить</span>
                <span v-else>Обновить</span>
            </button>
        </div>

    </form>
</template>

<script>
    export default {
        name: "Form",
        props: {
            model: {type: Object},
            formType: {type: String},
            action: {type: String},
            needFile: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                errors: {},
                defaultValue: ''
            }
        },
        created() {
            for (let field in this.model) {
                if (!this.model.hasOwnProperty(field)) {
                    continue;
                }
                this.errors = Object.assign({}, this.errors, {[field]: this.defaultValue});
            }
        },
        computed: {
            formEnctype() {
                return this.needFile ? 'multipart/form-data' : ''
            }
        },
        methods: {
            submit() {
                this.resetErrors();
                let data = Object.assign(
                    {},
                    {data: this.model},
                    {config: {needFile: this.needFile}}
                );
                this.$store.dispatch(this.action, data).then(response => {
                    this.$emit('submit', response)
                }).catch(error => {
                    for (let field in error.response.data.errors) {
                        if (!error.response.data.errors.hasOwnProperty(field)) {
                            continue;
                        }
                        this.errors[field] = error.response.data.errors[field].join(' ');
                    }
                });
            },
            resetErrors() {
                for (let field in this.model) {
                    if (!this.model.hasOwnProperty(field)) {
                        continue;
                    }
                    this.errors[field] = this.defaultValue;
                }
            }

        }
    }
</script>

<style scoped>

</style>