<template>

    <nav aria-label="Page navigation example">

        <div>
            <div>Total items: {{ total }}</div>
            <div>
                <select @change="changePerPage($event)">
                    <option :selected="isSelected(item)" v-for="(item, index) in peers" :key="index" :value="item">{{
                        item }}
                    </option>
                </select>
            </div>
            <div>Total pages: {{ lastPage }}</div>
        </div>

        <ul class="pagination justify-content-center">

            <template v-for="(link, index) in urls">
                <li v-if="link.url != null" :class="[{'active': link.active}, 'page-item']"
                    :key="index">
                    <a class="page-link" @click.prevent="changePage(link.url)" :href="link.url"
                       v-html="link.label"></a>
                </li>
                <li v-else class="page-item disabled" :key="index">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
                       v-html="link.label"></a>
                </li>
            </template>

        </ul>
    </nav>
</template>

<script>
    import constants from '../../constants';

    export default {
        name: "Pagination",
        props: {
            urls: {
                type: Array,
                default: () => []
            },
            total: {
                type: Number,
                default: 0
            },
            lastPage: {
                type: Number,
                default: 1
            }
        },
        data() {
            return {
                model: {
                    perPage: constants.perPage,
                    page: 1
                }
            }
        },
        created() {
            let url = new URL(window.location.href);
            let page = url.searchParams.get('page');
            if (page !== null) {
                this.setPage(page);
            }
            let perPage = url.searchParams.get('perPage');
            if (perPage !== null) {
                this.model.perPage = perPage;
            }
            this.$emit('changePerPage', this.model)
        },
        updated() {
            let url = new URL(window.location.href);
            let perPage = url.searchParams.get('perPage');
            if (perPage !== null) {
                this.model.perPage = perPage;
            } else {
                this.model.perPage = constants.perPage;
            }
        },
        computed: {
            peers() {
                return constants.perPages;
            }
        },
        methods: {
            changePerPage(event) {
                this.model.perPage = Number(event.target.value);

                let url = new URL(window.location.href);

                if (this.model.perPage === constants.perPage) {
                    url.searchParams.delete('perPage');
                    history.pushState({perPage: this.model.perPage}, null, url.toString());
                } else {
                    url.searchParams.set('perPage', this.model.perPage);
                    history.pushState({perPage: this.model.perPage}, null, '?' + url.searchParams.toString());
                }


                this.setPage(1);
                this.$emit('changePerPage', this.model);
            },
            isSelected(item) {
                return Number(this.model.perPage) === Number(item);
            },
            setPage(page) {
                let url = new URL(window.location.href);
                if (page === 1) {
                    url.searchParams.delete('page');
                    history.pushState({page: page}, null, url.toString());
                } else {
                    url.searchParams.set('page', page);
                    history.pushState({page: page}, null, '?' + url.searchParams.toString());
                }
                this.model.page = page;
            },
            changePage(url) {
                let page = this.getPageFromUrl(url);
                this.setPage(page);
                this.$emit('changePage', this.model);
            },
            getPageFromUrl(url) {
                return new URL(url).searchParams.get('page') || 1;
            }
        }
    }
</script>

<style scoped>

</style>
